#banner {
    height: 300px;
}


#banner>img {
    width: 100%;
    height: 300px;
}

#body>h1 {
    margin-top: 16px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.product-card {
    width: 180px;
    height: 300px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 12px;
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: 210px;
    object-fit: contain;
}

.product-contents {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.product-name {
    font-size: 14px;
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
}

.product-seller {
    display: flex;
    align-items: center;
}

.product-avatar {
    width: 24px;
}

.product-link {
    color: inherit;
    text-decoration: none;
}

.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-date {
    font-size: 12px;
    color: rgb(136, 136, 136);
}

#product-headline {
    margin-top: 8px;
}

/* margin: 0 auto;:부모로부터 자식정렬 */
/* display: flex; 상품들이 세로가 아닌 가로로 정렬되도록 함 */
/* flex-wrap: wrap; 상품의 줄바꿈을 유연하게 해줌 */
/* margin-right: 12px;를 통해 제품간의 좌우 간격을 둠 */
/* margin-bottom: 12px;르 통해 제품간의 상하 간격을 둠 */
/* flex-direction: column;를 통해 <span> 세로 정렬 */
/* span tag는 줄바꿈이 되지 않음 또한, 부가 설명 글을 넣을때 주로 사용 */
/* font weight는 폰트의 두께를 의미 */
/* align-items:center;: 아바타와 판매자를 수직으로 정렬 시켜줌 */